<div class="text-center">
    <div class="mt-top-2">
    <h4 class="text-center" style="font-family: sans-serif; font-size: 30px;" ><u> Login Page</u></h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">
      <div class="example-container">
        <div>
            <div class="mt-top-2">
            <div class="row">
      
                <div class="col-25">
                  <mat-icon>person</mat-icon>
                  
                  <label>__UserName__</label>
                
              </div>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
        </div>
        </div>
        <div class="mt-top-2">
            <div class="row">
      
                <div class="col-25">
                  <mat-icon>password</mat-icon>
                  <label>__Password__</label>
                
              </div>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">    
            <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
              Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
              Password is required
            </mat-error>
            <mat-error>Must contain uppercase, lowercase and special characters</mat-error>
          </mat-form-field>
        </div>
        </div>
        <div class="mt-top">
            
            <a routerLink="/home"><button [disabled]="!loginForm.valid" mat-button color="accent" style =" background-color:lightgray; color: black;" onclick="alert('Login Successfull')" mat-button>Submit</button></a>
           <br>
           <br>
           
            
        </div>
      </div>
    </form>
  </div>
      
      
  

 
