
.example-container{
    border-radius: 5px;
    background-color: rgb(197, 214, 214);

    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .col-25 {
    float:left;
    width: 0%;
  
    margin-left: 50px;
  }
  .col-45{
    float:left;
  }
  .col-35{
    float:right
  }
  .container2{
    border-radius: 5px;
    background-color: rgb(197, 214, 214);

    height: 100%;
    width: 100%;
    
  
    text-align:center;
    
    margin-top: 20px;
  }
  .container3{
    border-radius: 5px;
    background-color: rgb(197, 214, 214);
    height: 100%;
    width: 100%;
    text-align:center;
    
    margin-top: 20px;
  }
  .div1{
    
    border-radius: 5px;
    background-color: rgb(197, 214, 214);
    ;
    height: 100%;
    width: 100%;
    text-align:center;
    
    margin-top: 20px;
  }
 
 